body {
    background-color: black;
}

.content {
    width: 80%;
    background-color: rgb(110, 110, 110);
    margin: auto;
    padding: 10px;
    margin-top: 10%;
}

.wrapper {
    background-color: darkgray;
    border: solid;
    border-color: maroon;
    border-width: 5px;
    margin: 10px;
    text-align: center;
}

#game {
    background-color: gray;
    border: solid;
    border-color: maroon;
    border-width: 5px;
    margin: 10px;
    text-align: center;
}

#time {
    background-color: gray;
    border: solid;
    border-color: maroon;
    border-width: 5px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.choice {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    margin: auto; 
    margin-bottom: 10px;
    background-color: #ffffff;
}

img {
    margin: 10px;
}

