body {
    background-image: url(../images/Donald\ Trump.jpeg);
}

.wrapper {
    background-color: darkgray;
    border: solid;
    border-color: maroon;
    border-width: 5px;
    margin: 10px;

}

#game {
    background-color: gray;
    border: solid;
    border-color: maroon;
    border-width: 5px;
    margin: 10px;
}

#time {
    background-color: gray;
    border: solid;
    border-color: maroon;
    border-width: 5px;
    margin: 10px;
}

.choice {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

